/* @author Tim himself */

.ziehharmonika h3 {
	background: #f5f5f5;
	color: #20202;
	text-align: left;
	border-radius: 4px;
	padding: 14px 12px;
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 9px;
	padding-right: 40px;
	transition: 0.25s all;
	position: relative;
}
.ziehharmonika h3.active {
	margin-bottom: 21px;
	background: #ececec;
}

.ziehharmonika h3.alignLeft {
	padding-left: 35px;
}
.ziehharmonika > div {
	display: none;
	background: #fff;
	border-radius: 0;
	border: 1px solid #ddd;
	text-align: left;
	padding: 10px;
	margin-bottom: 9px;
}
.ziehharmonika .arrowDown {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13.0px 7.5px 0 7.5px;
	border-color: #272e35 transparent transparent transparent;
	position: absolute;
	bottom: 0;
	left: 40px;
	transition: 0.25s all;
	opacity: 0;
}
.ziehharmonika .active .arrowDown {
	bottom: -13px;
	border-color: #ececec transparent transparent transparent;
	opacity: 1;
}
.ziehharmonika .collapseIcon {
	position: absolute;
	right: 20px;
	top: 45%;
	font-size: 25px;
	font-weight: 300;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fa5f03;
	font-weight: bold;
}
.ziehharmonika .collapseIcon.alignLeft {
	right: initial;
	left: 20px;
}